.custom-layout {
  position: absolute;
  inset: 0px;
  z-index: 300;
  pointer-events: none;
}

.custom-button {
  position: absolute;
  top: 20px;
  right: 30px;
  pointer-events: all;
  padding: 4px;
  background: white;
  /* border: 1px solid black; */
  /* border-radius: 64px; */
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -2px 4px 79px 42px rgba(17, 17, 17, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.custom-button[data-isactive='true'] {
  background-color: black;
  color: white;
}
